*{
  margin:0;
  padding: 0;
}

body{ 
  font-family: 'Noto Sans KR', sans-serif;
}

ul,li{ 
  list-style: none;
}



a{
  color: #333;
  text-decoration: none;
}

footer{ 
  background-color: #333;
  color: white;
}